@charset "UTF-8";

*{

}
body{
    background-color: rgb(70, 142, 241);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.346);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
img{
    width: 250px;
    height: 250px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 10px auto;
    object-position: top center;
}